build --incompatible_enable_cc_toolchain_resolution
build --spawn_strategy=local
build --cxxopt='-std=c++17'
build -c opt

build:pi --platforms=@com_grail_bazel_toolchain//platforms:linux-aarch64
build:pi --platform_suffix=pi